*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(248, 138, 155, 0.134);
   
}
:root{
  --colorm: rgba(250, 143, 160,0)
}
.navigation{
    margin: 0px;
    padding: 0px;
    height:54px;
    background-color: rgb(224, 17, 96,0.764);
    width: 100%;
    position: sticky;
    
}
.side{
    margin:0px;
    background-color: rgba(224, 17, 96, 0.764);
    width:13%;
    height:100vh;
    display: flex;
    justify-content:right;
}
.cointainer{
    /* position: absolute;
    top:49px; */
    display: flex;
    justify-content:center;
    margin:0px;
    padding:0px;
    width:94%;
    height: 55%;
    background-color: rgba(203, 12, 85, 0.947);
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}
.search{
    margin:0px;
    padding:2px;
    position: absolute;
    top:65px;
    width:11%;
    border:none;
    height: 30px;
  border-bottom: 1px solid white;
  background-color:  rgba(203, 12, 85, 0.947);
    
}
input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    color:white;
font-size: 150%}
input:focus::placeholder {
    color: transparent;
  }
  .image{
    display: inline;
    position: absolute;
    left:16%;
    top:12%;
    border-radius: 450%;
    height:24%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);

  }
  .image:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
h1{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:29.5%;
    top:15%;
    background-color: var(--colorm);
  }
  h4{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:29.5%;
    top:20%;
    background-color: var(--colorm);
    font-family:cursive;

  }
  .h21{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:42%;
    background-color: var(--colorm);
    font-family:cursive;

  }
   .p1{
    position: absolute;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:47%;
    right: 35%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--colorm);
  }
  .h22{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:62%;
    background-color: var(--colorm);
    font-family:cursive;

  }
   .p2{
    position: absolute;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:67%;
    right: 35%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--colorm);
  }
  .h23{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:82%;
    background-color: var(--colorm);
    font-family:cursive;

  }
   .p3{
    position: absolute;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:15%;
    top:87%;
    right: 35%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--colorm);
  }


  hr{
    border-bottom: 1px solid #888;
    width: 82%;
    position: absolute;
    left:15%;
    top:40%;
  }
  .about{
    border: none;
    position: absolute;
    top:36.8%;
    left:28%;
    background-color:rgba(250, 143, 161, 0.027);
    font-size: 20px;
    border-bottom: 3px solid rgb(253, 0, 42);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .Photos{
    border: none;
    position: absolute;
    top:36.8%;
    left:35%;
    background-color:rgba(250, 143, 161, 0.027);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .Questions{
    border: none;
    position: absolute;
    top:36.8%;
    left:42%;
    background-color:rgba(250, 143, 161, 0.027);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .li1
  {
    position: absolute;
    display: inline;
    justify-content: right;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:43%;
    right: 7%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--colorm);
    width: 360px;
    font-size: 18px;
    list-style: square;
  }
  .li2
  {
    position: absolute;
    display: inline;
    justify-content: right;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:65%;
    right: 7%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--colorm);
    width: 360px;
    font-size: 18px;
    list-style:square ;
  }
  .insta{
    margin:0px;
    padding:0px;
    height: 40px;
    position: absolute;
    top:90.1%;
    left :70%;
    background-color: var(--colorm);

}
.face{
    margin:0px;
    padding:0px;
    height: 50px;
    position: absolute;
    top:89.4%;
    left :75.5%;
    background-color: var(--colorm);

}
.x{
    margin:0px;
    padding:0px;
    height: 40px;
    position: absolute;
    top:90%;
    left :81%;
    background-color: var(--colorm);


}
.visitor{
  margin:0px;
  padding:0px;
  height: 40px;
  position: absolute;
  top:16%;
  width:11%;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: aliceblue;

}
.meassages{
  margin:0px;
  padding:0px;
  height: 40px;
  position: absolute;
  top:22%;
  width:11%;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: aliceblue;

}
.favourits{
  margin:0px;
  padding:0px;
  height: 40px;
  position: absolute;
  top:30%;
  width:11%;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: aliceblue;

}
.matches{
  margin:0px;
  padding:0px;
  height: 40px;
  position: absolute;
  top:38%;
  width:11%;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: aliceblue;

}
.follow{
  margin:0px;
  padding:0px;
  height: 40px;
  position: absolute;
  top:45%;
  width:11%;
  border: none;
  border-bottom: 2px solid white;
  font-size: 16px;
  color: aliceblue;
}
.image1{
  position: absolute;
  top:-10px;
  left:26px;
  background-color: var(--colorm);

}
.logo{
  position: absolute;
  left: 6.5%;
  top:20%;
  font-size: 24px;
  color: aliceblue;
}
  .home{
    position: absolute;
    left: 80%;
    top:22%;
  font-size: 18px;
  color: aliceblue;
}
.aboutus
  {
    position: absolute;
    left: 85.3%;
    top:22%;
  font-size: 18px;
  color: aliceblue;
  }
  .support{
    position: absolute;
    left: 92%;
    top:22%;
  font-size: 18px;
  color: aliceblue;
  }
  .date{
    display: inline;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:29.5%;
    top:25%;
    background-color:rgba(203, 12, 85, 0.947);
    width:75px;
    height: 30px;
    border :none;
    border-radius: 20px;
    color: aliceblue;
box-shadow: 3px 3px;
  }
  .date:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  }

